.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  position: absolute;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  gap: 10px;
}
.swiper-container.crsslider.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events {
    padding: 30px 0px 30px;
}
.field span {
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  font-size: 13px;
}

.mouse {
  width: 20px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  position: relative;
}
body
{
  overflow-x: hidden;
}
.mouse::before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 31px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 31px;
  }
}

.glrycontainer {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .glrycontainer {
    min-height: 320px;
  }
}

.glrycontainer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 480px) {
  .glrycontainer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
}

.sliderrst {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Slide content */
}

.sliderrst .description,
.sliderrst .title {
  display: block;
  opacity: 0;
  -webkit-transition: 0.5s ease 0.5s;
  transition: 0.5s ease 0.5s;
}

.sliderrst-active .description,
.sliderrst-active .title {
  opacity: 1;
}

.sliderrst-active .title {
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #000;
  -webkit-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}

.sliderrst-active .description {
  font-size: 16px;
  color: #777;
  -webkit-transition: opacity 0.5s ease 0.75s;
  transition: opacity 0.5s ease 0.75s;
}

.gallery-top {
  position: relative;
  width: 100%;
}

@media (min-width: 480px) {
  .gallery-top {
    width: 100%;
    margin-right: 10px;
  }
}

.gallery-thumbs {
  width: 100%;
  height: 25vh;
  padding-top: 10px;
}

@media (min-width: 480px) {
  .gallery-thumbs {
    height: 100vh;
    padding: 0;
  }
}

.gallery-thumbs .swiper-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 480px) {
  .gallery-thumbs .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  opacity: 0.75;
  cursor: pointer;
  margin: 0px !important;
}

@media (min-width: 480px) {
  .gallery-thumbs .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-thumbs .swiper-slide-thumb-active .bxsectionrst {
  background-color: #fff;
}

.gallery-thumbs .swiper-slide-thumb-active .bxsectionrst .bxnme {
  color: #98875d;
}

.dsplayimg {
  width: 100%;
  height: 100%;
}

.dsplayimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#accordion .card-header {
  margin-bottom: 8px;
}

#accordion .accordion-title {
  position: relative;
  display: block;
  padding: 14px 20px;
  background: #94191c;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  -webkit-transition: all .4s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
}

#accordion .accordion-title i {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  color: #fff;
  text-align: center;
  border-right: 1px solid transparent;
}

#accordion .accordion-title:hover {
  padding-left: 30px;
  background: #af272b;
  color: #fff;
}

#accordion .accordion-title:hover i {
  border-right: 1px solid #fff;
}

#accordion [aria-expanded="true"] {
  background: #94191c;
}

#accordion [aria-expanded="true"] i {
  background: #94191c;
}

#accordion [aria-expanded="true"] i:before {
  content: "\f068";
}

#accordion .accordion-body {
  padding: 40px 0px;
}
/*# sourceMappingURL=style.css.map */